@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 29, 33, 28;
  --background-rgb: 255, 255, 255;
  --dark-rgb: 29, 33, 28;
  --accent-rgb: 199, 149, 219
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

/* using dark color */
.text-dark {
  color: rgb(var(--dark-rgb));
}
.bg-dark {
  background: rgb(var(--dark-rgb));
}
/* using accent color */
.text-accent {
  color: rgb(var(--accent-rgb));
}
.bg-accent {
  background: rgb(var(--accent-rgb));
}

/* fonts */
.font-asap {
  font-family: var(--fontAsap);
}
.font-asap.font-bold {
  font-family: var(--fontAsapBold);
}
.font-notoserif {
  font-family: var(--fontNotoSerif);
}

/* footer */
.max-sm\:footer-grid {
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
      'logo line1 line1'
      'line2 line2 icons';
}